@tailwind base;
@tailwind components;
@tailwind utilities;
* { box-sizing: border-box; }
body { background: #030712; color: white; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #111827; }
::-webkit-scrollbar-thumb { background: #374151; border-radius: 3px; }
